* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 62.5% of 16px is 10px, so 1 rem is equal to 10px, because the default font size of browser is 16px */
}

body {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.6rem;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(27rem, 1fr) 5fr;
  grid-template-rows: 15rem 3fr;
}

header {
  grid-column: 2;
  display: grid;
  grid-template-columns: minmax(33rem, 1.5fr) 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 1rem 3rem 1rem 9rem;
  gap: 1rem;
  box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / 3;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

#dashboard-icon {
  width: 50px;
  height: auto;
}

#dashboard-text {
  font-size: 2.3rem;
}

svg {
  width: 28px;
  height: auto;
  cursor: pointer;
}

.sidebar svg {
  fill: white;
  width: 25px;
  height: auto;
}

a {
  text-decoration: none;
}

.sidebar div > a {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  color: white;
  font-size: 1.8rem;
}

.sidebar > *:not(:first-child) {
  padding-left: 1rem;
  padding-top: 2rem;
}

#home-div {
  padding-top: 4.5rem;
}

#settings-div {
  padding-top: 5.5rem;
}

.content {
  background-color: #d0d4da;
}

.dp-small {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.dp-big {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  cursor: pointer;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="search"] {
  border: none;
  width: 100%;
  background: #e5e7eb;
  outline: none;
  border-radius: 2rem;
  padding: 0.6rem 1.5rem;
  font-size: 1.6rem;
}

.top-right,
.bot-right {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  justify-content: center;
}

.bot-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

button {
  width: 9.4rem;
  height: 3.4rem;
  border-radius: 2rem;
  border: none;
  background-color: #1992d4;
  font-size: 1.3rem;
  color: white;
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
}
